.percircle {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #cccccc;
}
.percircle.red .bar,
.percircle.red .fill,
.percircle.red.gt50 .fill {
  border-color: #f1536e;
}
.percircle.red:hover > span {
  color: #f1536e;
}

.percircle.blue .bar,
.percircle.blue .fill,
.percircle.blue.gt50 .fill {
  border-color: #3da5f4;
}
.percircle.blue:hover > span {
  color: #3da5f4;
}

.percircle.mint .bar,
.percircle.mint .fill,
.percircle.mint.gt50 .fill {
  border-color: #00c689;
}
.percircle.mint:hover > span {
  color: #00c689;
}

.percircle.yellow .bar,
.percircle.yellow .fill,
.percircle.yellow.gt50 .fill {
  border-color: #fda006;
}
.percircle.yellow:hover > span {
  color: #fda006;
}


.percircle .rect-auto,
.percircle.gt50 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percircle .pie,
.percircle .bar,
.percircle.gt50 .fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 1.0em;
  height: 1.0em;
  clip: rect(0, 0.5em, 1em, 0);
  border-radius: 50%;
  transform: rotate(0deg);
}
.percircle .bar {
  backface-visibility: hidden;
}
.percircle .pie-fill,
.percircle.gt50 .bar:after,
.percircle.gt50 .fill {
  transform: rotate(180deg);
}
.percircle *,
.percircle *:before,
.percircle *:after {
  box-sizing: content-box;
}
.percircle .center {
  float: none;
  margin: 0 auto;
}
.percircle.big {
  font-size: 120px;
}
.percircle.small {
  font-size: 80px;
}
.percircle > span {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  top: calc(50% - 0.2em);
  transform: translateY(-50%);
  height: 1em;
  font-size: 0.29em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.percircle .perclock > span {
  font-size: 0.175em;
}
.percircle:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #fff;
  width: 0.84em;
  height: 0.84em;
}
.percircle .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0, 1em, 1em, 0.5em);
}
.percircle:hover {
  cursor:pointer;
}
.percircle:hover > span {
  transform: scale(1.3) translateY(-50%);
  color: #307bbb;
}
.percircle:hover:after {
  transform: scale(1.1);
}
.percircle.animate > span,
.percircle.animate:after {
  transition: transform 0.2s ease-in-out;
}
.percircle.animate .bar {
  transition: transform 0.6s ease-in-out;
}
